Body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: black;
}

.Padre1 {
    border: 2px solid red;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Padre2 {
    border: 2px solid blue;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}

.Hijo1{
    border: 2px solid green;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Hijo2{
    border: 2px solid pink;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.Hijo3{
    border: 2px solid orange;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Hijo4{
    border: 2px solid PURPLE;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Hijo5{
    border: 2px solid yellow;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Hijo6{
    border: 2px solid cyan;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.N{
    border: 2px solid WHITE;
    width: 20px;
    height: 20px;
}